body{
    margin:0px ;
    padding:0px;
}
.graph{
    margin:0px ;
    padding:0px;
}
.background {
    stroke: #ddd;
    stroke-width: 1px;
    /*fill: #333;*/
    fill:#78EC1C;
}
.node {
  font-family: sans-serif;
  font-weight: bold;
}

.test{
  stroke: #ff0000;
  stroke-width: 1px;
}

.filter-ui {
  background:rgba(51,51,51,0.97);
  color: #FFF;
  position:absolute;
  top:10px;
  text-color = #000;
  right:10px;
  z-index:100;
  padding:10px;
  border-radius:10px;
}

.filter-ui div{
  padding:25px;
}

.img_filter{
  /*margin: 0px;*/
  position:absolute;
  opacity: 0.3;
}

.active{
  opacity: 1;
}

input[type="checkbox"] {
  display:inline-block;
  width:80px;
  height:80px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  opacity: 0;
  cursor:pointer;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  z-index: 40;
}
