<div class="snap-drawers sidebar " ng-class="{'slide-out':boolChangeClass}">
    <div class="snap-drawer">
      <div class="control">
        <a href class="outside" ng-click="zoomMore()" style="display: inline-block;">
          <div class="left">
            <i style="margin-left: -1.7em" title="Zoom In" class="fa fa-plus fa-2x" ></i>
          </div>
        </a>
        <a href class="outside" ng-click="fit()" style="display: inline-block;">
          <div class="left">
            <i style="margin-left: -1.7em" title="Fit" class="fa fa-external-link-square fa-2x" ></i>
          </div>
        </a>
        <a href class="outside" ng-click="zoomLess()" style="display: inline-block;">
          <div class="left">
            <i style="margin-left: -1.7em" title="Zoom Out" class="fa fa-minus fa-2x" ></i>
          </div>
        </a>
      </div>
      <a href class="outside" ng-click="click()" style="display: inline-block;">
        <div class="left">
          <i style="margin-left: -1.7em" title="Menu" class="fa fa-bars fa-2x" ></i>
        </div>
      </a>
        <p class="title">MÚSICA, CIUDAD, CONEXIONES</p>
        <div class="images_menu">
          <a href="#/mapa"><img class="" width="90%" src="../assets/map.png"></a>
        </div>
        <p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
        <div class="images_menu">
          <a href=""><img class="chicas"  width="90%" src="../assets/chicas.svg"></a>
          <a href=""><img class="ceper" src="../assets/ceper.svg"></a>
        </div>
    </div>
  </div>
  <div class="graph">
  </div>
